obj_dir/
build/*

corpus/*.json
logs/*.log
logs/*.trace
results/*.json
results/*.md
waves/*.vcd
waves/*.fst
waves/*.gtkw
screenshots/*.png
!screenshots/valid_ipv4_udp_min_payload_gtkwave.png

__pycache__/
*.pyc
